{"analog_format":{"resolution":"1920x1080","framerate":60.0,"colourspace":"RGB","color_matrix":[1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0]},"clock_offset":0.0,"send":{"1":{"source":1,"scaleX":1.0,"scaleY":1.0,"posX":0.0,"posY":0.0,"rotation":0.0,"pitch":0.0,"yaw":0.0,"brightness":0.5,"contrast":0.5,"saturation":0.5,"hue":0.0},"2":{"source":2,"scaleX":1.0,"scaleY":1.0,"posX":0.0,"posY":0.0,"rotation":0.0,"pitch":0.0,"yaw":0.0,"brightness":0.5,"contrast":0.5,"saturation":0.5,"hue":0.0},"3":{"source":3,"scaleX":1.0,"scaleY":1.0,"posX":0.0,"posY":0.0,"rotation":0.0,"pitch":0.0,"yaw":0.0,"brightness":0.5,"contrast":0.5,"saturation":0.5,"hue":0.0},"4":{"source":4,"scaleX":1.0,"scaleY":1.0,"posX":0.0,"posY":0.0,"rotation":0.0,"pitch":0.0,"yaw":0.0,"brightness":0.5,"contrast":0.5,"saturation":0.5,"hue":0.0}}}